doctype html
html
  head
    title= title
    meta(name="keywords", content="漫画对白, 生成器, 我们是谁, 友谊的小船说翻就翻")
    meta(name="description", content="漫画对白生成器，我们是谁漫画对白在线生成器")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="shortcut icon", href="/catoonpic/favicon.ico")
    link(rel='stylesheet', href='/catoonpic/stylesheets/style.css')
  body
    block content
