extends layout

block content
  div.pic-func-page
    h1= title
    p #{tips}
    if positions
      form(method="post")
        each item in positions
          input.text-input(type="text", name=item.formKey, placeholder=`请输入${item.keyName}`)
        button.produce-button(type="submit") 立刻生成
